Questers Config Area
====================

| SCREEN NO | SELECTION | TEXT OR DESTINATION (T or D) | TARGET INFO |

0|0|t|You walk into your bedroom, which is very messy. You have a nap for while. 
0|0|t|Once you wake up, you actually feel a little hungry. You are not sure whether you should actually go and get some food maybe? 
0|0|t|Or maybe first go to the bathroom?
0|1|t|Go to the kitchen.
0|1|t|Kitchen.
0|1|t|Then you will be in the kitchen.
0|1|d|1
0|10|t|Go to the bathroom.
0|10|d|2
0|3|t|Leave the house.
0|3|d|3

1|0|t|You walk into the kitchen, where you wash the dirty dishes. You also feed the cat. 
1|1|t|Go to the bedroom.
1|1|d|0
1|2|t|Go to the bathroom.
1|2|d|2
1|3|t|Leave the house.
1|3|d|3

2|0|t|You walk into the bathroom, where you make a wee.
2|1|t|Go to the bedroom.
2|1|d|0
2|2|t|Go to the kitchen.
2|2|d|1
2|3|t|Leave the house.
2|3|d|3

3|0|t|You leave the house and decide that you are tired of this silly game. End of game.
